
/*Components:button*/

//Base
.button {
    padding: 10px 12px;
  
}
//Button Scheme
.button-blue, .button-red {
 
    border-radius: 0;
    border: 0;

    &:hover {
       
    }
    &:focus {
        
    }
}
