// Esquema de color

// Primer esquema de color
$white: #FFF;
$medium-gray: #2D3047;
$dark-gray: #071013;
$light-green: #7CEA9C;


// Tipografia
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// Peso de fuentes 
$font-black: 900;
$font-bold: 700;
$font-regular: 400;
$font-light: 300;

// Tamaño de fuente
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;