body {
  height: 100vh;
  margin: 0;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, auto);
}

@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  display: grid;
  grid-template: repeat(12, fr);
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media only screen and (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
.header {
  display: inline-block;
  widows: 100%;
  grid-column: span 12;
}

.hero-section {
  background-image: url("../images/bg-hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: span 12;
}

.hero-section__content {
  grid-column-start: 3;
  grid-column-end: 6;
}

.info-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: span 12;
}

.info-section__title {
  text-align: center;
}

.info-section__image {
  grid-column-start: 2;
  grid-column-end: 6;
}

.info-section__content {
  grid-column-start: 6;
  grid-column-end: 9;
}

/*Components:button*/
.button {
  padding: 10px 12px;
}

.button-blue, .button-red {
  border-radius: 0;
  border: 0;
}
.navbar {
  padding: 10px;
}

.navigation-section__logo {
  width: 20%;
}
.navigation-section__logo img {
  padding: 10px;
}

.navigation-section__left, .navigation-section__right {
  display: inline-block;
  width: 80%;
}

.navigation-section__list {
  margin: 0;
  padding: 0;
  text-decoration: none;
  float: right;
}

.navigation-section__item {
  display: inline;
  float: left;
}
.navigation-section__item a {
  display: block;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #333745;
}
.navigation-section__item a:hover {
  color: #8F9199;
}

/*# sourceMappingURL=main.css.map */
